/*@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

@font-face {
  font-display: swap; 
  font-family: 'Chonburi';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/chonburi-v14-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/alan-sans-v1-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/outfit-v15-latin-regular.woff2') format('woff2');
}


:root {
    --color-difference-h: -30;
    --color-saturation-difference: -20%;
    --color-lightness-difference: -20%;
    --primary-h: 35;
    --primary-s: 95%;
    --primary-l: 60%;
    
    --secondary-h: calc(var(--primary-h) + var(--color-difference-h));
    --secondary-s: calc(var(--primary-s) + var(--color-saturation-difference));
    --secondary-l: calc(var(--primary-l) + var(--color-lightness-difference));

    --tertiary-h: calc(var(--secondary-h) + var(--color-difference-h));
    --tertiary-s: calc(var(--secondary-s) + var(--color-saturation-difference));
    --tertiary-l: calc(var(--secondary-l) + var(--color-lightness-difference));
    --color-bg: aliceblue;

    /* neutrals (grayscale) */
    --n-900: 12%;
    --n-800: 18%;
    --n-700: 30%;
    --n-600: 45%;
    --n-500: 65%;
    --n-400: 78%;
    --n-300: 86%;
    --n-200: 92%;
    --n-100: 97%;
    /* Derived semantic colors (use HSL with variables) */
    --color-primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --color-primary-600: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 10%));
    --color-primary-600a: hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) - 10%), 80%);
    --color-primary-200: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 28%));
    --on-primary: hsl(30, 30%, 15%);

    --color-secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --color-secondary-600: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) - 10%));
    --color-secondary-600a: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) - 10%), 80%);
    --color-secondary-200: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + 28%));
    --on-secondary: hsl(0 0% 100%);

    --color-tertiary: hsl(var(--tertiary-h), var(--tertiary-s), var(--tertiary-l));
    --color-tertiary-600: hsl(var(--tertiary-h), var(--tertiary-s), calc(var(--tertiary-l) - 10%));
    --color-tertiary-600a: hsl(var(--tertiary-h), var(--tertiary-s), calc(var(--tertiary-l) - 10%), 80%);
    --color-tertiary-200: hsl(var(--tertiary-h), var(--tertiary-s), calc(var(--tertiary-l) + 28%));
    --on-tertiary: hsl(0 0% 100%);

    --bg: hsl(var(--n-100));
    --surface: hsl(var(--n-200));
    --text: hsl(var(--n-900));
    --muted: hsl(var(--n-600));
    --light-blue: #add1eb;

    /* spacing + radii */
    --radius: 8px;
    --gap: 12px;

    /* Fonts */
    --important-font: "Chonburi", serif;
    --common-font: "Alan Sans", sans-serif;
    --header-font: "Outfit", sans-serif;
  
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg);
  background-color: var(--color-bg);
  color: var(--text);
  line-height:1.45;
  scrollbar-width: thin;         
  scrollbar-color: rgba(255,255,255, .8) transparent; 
}

.logo-letters {
  height: 100vh;
  background-image: url('/logo-letters.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.logo-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('/logo-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.eye-icon {
  width: 25px;
  height: auto;
  margin: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border-radius: var(--radius);
  color: white;
  padding: 8px 12px;
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip:hover .tooltip-text{
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-text:after {
  content:"";
  position: absolute;
  top:100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.icon-image {
  height: 25px;
  width: auto;
  margin: 0 10px;
}

.icon-text {
  font-size: 1.2rem;
  font-family: var(--common-font);
}

.page-header-container {
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--on-primary);
}

.page-header-container img {
    height: calc(100% - 10px);
    margin: 5px;
}

.back-arrow img {
    height: 40px;
    margin: 0;
}

.page-header-container img:hover {
    cursor: pointer;
}

.page-header-container .back-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 30px;
    padding: 30px 10px;
}

.page-header-container .back-arrow-icon:hover {
    filter: brightness(2);
}

.useless {
  display: none;
}

.page-header-title {
    font-family: var(--header-font);
    font-size: clamp(2rem, 3.5vw, 4rem);
    margin: 0 5px;
    text-align:center;
    width: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 10px;
  background: var(--color-tertiary);
  color: var(--on-tertiary); 
  padding: 8px 12px;
  z-index: 100;
  text-decoration: none;
  font-family: var(--common-font);
  border-radius: 4px;
  transition: top 0.2s;
}

.skip-link:focus {
  top: 10px;
}

@media (max-width: 800px){
  .page-header-container{
    height: fit-content;
  }

  .page-header-container img {
    height: 50px;
  }

  .back-arrow img {
    height: 30px;
  }

  page-header-title {
    margin: 0;
  }
}
